#document-heading {
  color: #FFF;
  border-style: solid;
  border-width: thin;
  text-align: center;
  padding: 10px;
  background-color: #777;
  margin-top: 0px;
}

.list-group-item-heading{
  font-size: 2.0em;
  color: #777;
}

.well {
  margin: 10px;
}
